/* ここから下に記載していく */
body{
    width: 1200px;
    padding-top: 120px;
}

.header{
    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 100;
    top: 0;
    height: 120px;
}

.header_inner{
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site_logo{
    margin: 20px 50px;
}
/* メニューバーボタン */
.nav ul{
    display: flex;
}

.nav a{
    display: block;
    text-decoration: none;
    color: black;
    font-size: 21px;
    padding: 50px 25px
}

.nav a:hover{
    background-color: #ffd61a;
}

html{
    scroll-behavior: smooth;
}
/* スーッとスクロール */

#about_box,
#course_box,
#news_box,
#contact_box{
    scroll-margin-top: 180px;
}
/* スクロールした時に被らないやつ */

#access_box{
    scroll-margin-top: 120px;
}

#top{
    scroll-margin-top: 120px;
}

.top_box{
    background: url(../img/mainbg.png);
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top_h1{
    font-size: 48px;
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}

.top_p{
    font-size: 32px;
    color: white;
    font-weight: lighter;

}

/* アバウトについて */
.about_h3{
    color: #ffd61a;
    font-size: 24px;
    font-weight: bold;
    margin-top: 60px;
    margin-bottom: 30px;
}

.about_h4{
    font-size: 18px;
    margin-bottom: 60px;
}

.about_p_group{
    font-size: 16px;
}

.about_p_1{
    margin-bottom: 40px;
}

.about_p_2{
    margin-bottom: 10px;
}

.about_p_3{
    margin-bottom: 40px;
}

.about_p_4{
    margin-bottom: 40px;
}

.about_p_5{
    margin-bottom: 10px;
}

.about_p_6{
    margin-bottom: 80px;
}

.about_text{
    text-align: center;
}

.about_image{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    gap: 0; 
}

.about_image img{
    width: 25%;
    height: auto;
    display: block;
    object-fit: cover;
}

/* コースについて */
.course_text{
    text-align: center;
}

.course_h3{
    font-size: 24px;
    color: #ffd61a;
    font-weight: bold;
    margin-top: 60px;
    margin-bottom: 30px;
}

.course_p_1{
    font-size: 16px;
    margin-bottom: 10px;
}

.course_p_2{
    font-size: 16px;
    margin-bottom: 60px;
}

.course_h4_1{
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.course_image_1,
.course_h4_1_text {
  width: 50%;        /* それぞれ半分ずつ */
}

.course_image_1 img {
  width: 100%;       /* 枠いっぱいに広げる */
  height: 100%;
  object-fit: cover; /* 画像が枠にぴったり収まるように */
  display: block;    /* 下の余白を消す */
}

.course_h4_1_text {
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
}

.course_h4_1_title{
    font-size: 24px;
    font-weight: bold;
    margin: 120px 0 40px 50px;
}

.course_h4_1_p_group{
    font-size: 16px;
    width: 430px;
    margin:0 0 120px 50px;
    line-height: 2;
}

.course_h4_2{
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.course_image_2{
    width: 50%;
}

.course_image_2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.course_h4_2_title{
    font-size: 24px;
    font-weight: bold;
    margin-top: 120px ;
    margin-bottom: 40px;
    margin-left: 120px;
    margin-right: auto;
}

.course_h4_2_text{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.course_h4_2_p_group{
    font-size: 16px;
    width: 430px;
    margin-left: auto;
    margin-right: 50px;
    margin-bottom: 120px;
    line-height: 2;
}
/* 詰み。右に寄らない */
/* margin-left: auto; で解決! */

.course_h4_3{
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    
}

.course_h4_3_text,
.course_image_3{
    width: 50%;
}

.course_image_3 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.course_h4_3_text{
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
}

.course_h4_3_title{
    font-size: 24px;
    font-weight: bold;
    margin: 120px 0 40px 50px;
}

.course_h4_3_p_group{
    font-size: 16px;
    width: 480px;
    margin:0 0 120px 50px;
    line-height: 2;
}

.news_title{
    text-align: center;
    margin-bottom: 60px;
}

.news_h3{
    color: gold;
    font-size: 24px;
    font-weight: bold;
    margin-top: 60px;
    margin-bottom: 30px;
}

.news_content{
    display: flex;
    justify-content: center;
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 0;
}

.news_item{
    width: 300px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
}

.news_item:hover{
    box-shadow: 0 6px 16px rgba(0,0,0,0.15);
} 
/* 「（）:hover」ここにスペースがあると部分で反応してまう */

.news_item img{
    width: 100%;
    height: auto;
    display: block;
}

.news_item .date{
    font-size: 16px;
    padding-top: 30px;
    padding-bottom: 24px;
}

.news_item .news_text{
    font-size: 14px;
    line-height: 2;
}

.more_button{
    text-align: center;
    margin-top: 60px;
}

.more_button a{
    display: inline-block;
    background-color: gold;
    color: white;
    font-size: 18px;
    width: 300px;
    height: 60px;
    line-height: 60px;
    text-decoration: none;
}

.more_button a:hover{
    background-color: orange;
}

.access_box{
    max-width: 1200px;
    text-align: center;
    margin: 60px auto;
    background-color: #fafafa;
}

.access_h3{
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: bold;
    padding-top: 60px;
}

.map{
    margin: 60px 0;
}

.map iframe{
    width: 100%;
}

.access_content{
    display: flex;
    justify-content: center;
    font-size: 16px;
    line-height: 50px;
    padding-bottom: 60px;
}

.access_content_title{
    text-align: left; 
    padding-right: 50px;
    padding-left: 120px;
}

.access_content_text{
    text-align: left;
}

.contact_box{
    text-align: center;
}

.contact_h3{
    font-size: 24px;
    font-weight: bold;
    margin-top: 60px;
    margin-bottom: 30px;
}

.contact_h3_p{
    font-size: 16px;
    margin-bottom: 60px;
}

.contact_text{
    font-size: 16px;
    line-height: 2;
}

.contact_text_p_1{
    margin-bottom: 20px;
}

.contact_form{
    max-width: 640px;
    margin: 0 auto;
    padding-top: 70px;
}

.form_table{
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

.form_table td{
    border-top: 1px solid #bfbfbf;
    border-bottom: 1px solid #bfbfbf;
    font-size: 16px;
}

.form_table tr td:first-child{
    border-right: 1px solid #bfbfbf;
    width: 240px;
    padding-left: 16px;
    padding-right: 64px;
    padding: 8px 64px 8px 16px;
    line-height: 1.5;
    vertical-align: top;
}

.form_table tr td:last-child{
    width: 400px;
    padding: 8px;
}

.form_table input[type="text"]{
    width: 328px;
    height: 36px;
    font-size: 16px;
    border: 1px solid #bfbfbf;
}

.form_table select{
    width: 336px;
    height: 36px;
    padding: 0 8px;
    font-size: 16px;
    border: 1px solid #bfbfbf;
    box-sizing: border-box;
}

.checkbox_group{
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-size: 14px;
    padding-bottom: 24px;
}

.checkbox_group input[type="checkbox"]{
    margin-right: 24px;
}

.form_table textarea{
    width: 336px;
    height: 108px;
    padding: 8px;
    border: 1px solid #bfbfbf;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 1.2;
    resize: none;
}

.form_button{
    margin: 30px 0 140px 0;
    text-align: center;
}

.form_button a{
    display: inline-block;
    background-color: #ffd61a;
    color: white;
    font-size: 18px;
    width: 300px;
    height: 60px;
    line-height: 60px;
    text-decoration: none;
}

.form_button a:hover{
    background-color: orange;
}

.footer{
    text-align: center;
}

.footer_text{
    color: white;
    background-color: #707070;
    padding: 30px;
}